
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  img {
    display: block;
  
    border-radius: 5px;
  
    transition: transform 0.3s ease;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    max-width: 1128px;
    padding-top: 32px;
    margin: auto;
  }
  .modal {
    background-color: rgba(46, 47, 66, 0.8);
  }